a{
    text-decoration: none;
}
.section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.section h2.section-head{
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}

.section h2.section-head::after{
    display: block;
    content:"";
    width: 150px;
    height: 5px;
    background-color: #e74c3c;
    margin: 10px auto;
}

.header{
    color: #fff;
    background-color: #e74c3c;
}
#logo{
    font-size: 2rem;
    margin-top: 5px;
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;
}
#menu li a{
    color: #fff;
    padding: 15px 10px;
    display: block;
}

#menu li a:hover{
    background-color: #c0392b;
}

#banner{
    background-image: url(./Image/neom-uqAUg1zvMXQ-unsplash.jpg);
    background-size: cover;
}
.banner-title{
    padding-top: 5rem;
}

.banner-title h1{
    background-color: rgba(255, 255, 255, 0.484);
    display: inline-block;
    padding: 10px;
    margin: 0; 
}
.banner-title p.lead{
    color: #fff;
    background-color: rgba(231, 77, 60, 0.566);
    padding: 10px;
}
.service-box{
    text-align: center;
}

.service-box i.fa{
    color: #e74c3c;
    font-size:70px ;
    margin-bottom: 15px;
}
#testimonial{
    color: #fff;
    background-image: url('./Image/akshar-dave-qlGpYENt-ig-unsplash.jpg');
    background-size: cover;
    padding:50px 0;
    position: relative;
}
#testimonial::before{
    content: '';
    background-color: rgba(52, 73, 94, 0.314);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.testimonial img{
    border-radius: 50%;
    width: 120px;
}

#news img{
    object-fit: cover;
    width: 100%;
    margin-bottom: 1px;

}

#news h4{
    color: #e74c3c;
}
#news a{
    color: #c0392b;
}
#news a::after{
    content: "\f101";
    font-family: FontAwesome;
    margin-left: 5px;
}

#news #date::before{
    content: "\f073";
    margin-right: 5px;
    font-family: FontAwesome;


}

#footer-sidebar{
    background-color: #34495e;
    color: #fff;
    padding-top: 30px;
    /* display: flex;
    justify-content: center; */
}
#footer-sidebar h3{
    margin-bottom: 20px;
}

#footer-sidebar h3::after{
    display: block;
    content: "";
    width: 50px;
    height: 3px;
    background-color: #fff;
    margin-top: 5px;
}

#footer-sidebar ul li{
    list-style: none;
    margin-bottom: 3px;
}

#footer-sidebar ul li::before{
    content: "\f101";
    margin-right: 5px;
    font-family: FontAwesome;
}

#footer{
    background-color: #2c3e50;
    color: #fff;
    padding-top: 10px;
}

#footer .copyright{
    font-size: 18px;
}
#footer .social-icons{
    margin-left: auto;
    position: relative;
    text-align: right;
}
#footer .social-icons ul li{
    list-style: none;
    display: inline-block;
    margin:0 10px;
}

#footer .social-icons ul li a{
    color:#fff;
    font-size: 20px;
}

/* #footer .social-icons ul li a::before{
    content: "click ";
    display: block;
    position: absolute;
    top: -25px;
    left:30px;
    opacity: 0;

} */
#footer .social-icons ul li a:hover{
    color: red;
}

@media( max-width:992px){
    .news-poster{
        margin-bottom: 30px;
    }
    #logo{
        font-size: 1.8rem;
        margin-top:8px
    }
}

@media(max-width:768px){
    #logo{
        text-align: center;
        margin:10px 0;
    }
    #menu{
        text-align: center;
    }
    #banner{
        text-align: center;
    }
    .banner-title{
        padding-bottom: 0;
        padding-top: 1rem;
    }
    .section{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .testimonial{
        text-align: center;
        margin-bottom: 30px;
    }
    .service-box{
        margin-bottom: 30px;
    }
    
   

    #footer{
        text-align: center;
    }
   #footer .social-icons{
        margin-top:10px ;
        text-align: center;
    }
}